// Variables
//==================================================
$dark-bg:#231f20;
$mid-grey:#c3c3c3;
$light-grey:#3f3f3f;
$yellow:#FBAF41;

// Global Styles
//==================================================
.f_left {
  float:left;
}

.f_right {
  float:right;
}

h1,h2,h3 {
  font-family: 'Open Sans', sans-serif;
  color:$mid-grey;
}

label {
  color: $mid-grey;
  font-family: 'Asap', sans-serif;
}

// Structure
//==================================================
body {
  background-color:$dark-bg;
  color: $mid-grey;
  font-family: 'Asap', sans-serif;
  font-size: 13px;
  line-height: 18px; 
}
  
#wrapper {
  width:940px;
  margin:0 auto;
}  

#header {
  overflow:hidden;
  
  #banner {
    border:1px $light-grey solid;
    height:119px;
    float:right;
    width:778px;
    margin:15px 0;
  }
  
}


// Posts
//==================================================

.post {
  overflow:hidden;
  margin:30px 0 37px 0;
  
  a {
    color:$yellow;
  }
  
  img {
    border:1px $mid-grey solid;
    margin:9px 0;
  }
  
  .media {
    float:left;
  }
  
  .text {
    float:right;
    width:702px;
  }
}

// Errors and Messages
//==================================================

#notice {
  color: green; 
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; 
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff; 
  }
  ul li {
    font-size: 12px;
    list-style: square; } 
  }
