// Variables
//==================================================
$dark-bg:#231f20;
$mid-grey:#c3c3c3;
$light-grey:#3f3f3f;
$yellow:#FBAF41;

// Global Styles
//==================================================
.f_left {
  float:left;
}

.f_right {
  float:right;
}

h1,h2,h3 {
  font-family: 'Open Sans', sans-serif;
  color:$mid-grey;
}

label {
  color: $mid-grey;
  font-family: 'Asap', sans-serif;
}

input, textarea {
  background:#363a49;
  border:1px solid #4c4747;
  color: $mid-grey;
}

a {
  color:$yellow;
  
  &:hover {
    color:$yellow;
    text-decoration:underline;
  }
}

.carousel-inner {
  border: 1px solid $light-grey;
}


// Structure
//==================================================
body {
  background-color:$dark-bg;
  color: $mid-grey;
  font-family: 'Asap', sans-serif;
  font-size: 13px;
  line-height: 18px; 
}
  
#wrapper {
  width:940px;
  margin:0 auto;
  min-height:800px;
}  

#header {
  overflow:hidden;
  
  #banner {
    border:1px $light-grey solid;
    height:116px;
    float:right;
    width:778px;
    margin:15px 0;
  }
  
}


// Posts
//==================================================

.post {
  overflow:hidden;
  margin:25px 0 37px 0;
  
  h2 {
    margin-bottom:5px;
    
    small {
      font-size:0.4em;
    }
  }
  
  img {
    border:1px $mid-grey solid;
    margin:9px 0;
  }
  
  .media {
    float:left;
  }
  
  .media_video {
    position:relative;
    left: 0px;
    top: 0px;
    
    & a {
      position:relative;
    }
  }
  
  .text {
    float:right;
    width:702px;
  }
}

#show_text {
  width:620px;
}

#footer {
  background:#141112;
  padding:10px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  opacity:0.6;
  border:1px solid #332d2f;
  font-size:11px;
  bottom:0px;
  margin:0 auto 10px auto;
  width:940px;
}

// Errors and Messages
//==================================================

#notice {
  color: green; 
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; 
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff; 
  }
  ul li {
    font-size: 12px;
    list-style: square; } 
  }
