<div id="myCarousel" class="carousel">
      <!-- Carousel items -->
      <div class="carousel-inner">
        <div class="item active">
          <div class="poster poster_left">
            <p>Mario Balotelli is a 22 year old Italian
            footballer who plays as a striker for
            both the English Premiership side
            Manchester City and the Italian
            national team. He was recently
            described by the Manchester City
            manager Roberto Mancini as the best
            striker in Italy.</p>
            <p>Nicknamed "Super Mario" by fans and the media, 
            Balotelli is agile, quick and powerful. He is regarded as one of the best
            penalty kick takers in world football.
            </p>
          </div>
          <%= image_tag "mario_balotelli_gallery_1.jpg", :width => 940, :height => 400 %>
        </div>
        <div class="item">
          <div class="poster poster_right">
            <p>Mario Balotelli has been hugely influential
            off the football field also,
            significantly contributing to several
            charity projects.</p>
            <p>Recently Mario
            helped build the first secondary
            school in Cuey Machar, South
            Sudan, giving hope to children
            previously caught up in a world of
            enslavement and war.
            </p>
          </div>
          <%= image_tag "mario_balotelli_gallery_2.jpg", :width => 940, :height => 400 %>
        </div>
        <div class="item">
          <div class="poster poster_right">
            <p>Described by some as a
            maverick, Mario Balotelli has won over
            most of his critics with his
            strong technical abilities and
            his large heart, both on and
            off the pitch.
            </p>
            <p>He is an undeniable talent, already a Serie A and EPL champion he
              will continue to gain admirers both in England and Italy.
          </div>  
          <%= image_tag "mario_balotelli_gallery_3.jpg", :width => 940, :height => 400 %>
        </div>
      </div>
      <!-- Carousel nav -->
      <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>